<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991380975284-5t6j1k8ktt9o71javelap60admk9rg1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991380975284-5t6j1k8ktt9o71javelap60admk9rg1l</string>
	<key>API_KEY</key>
	<string>AIzaSyAhW2mhTHp8KkiophANVGzv2dZO4eJ_TtE</string>
	<key>GCM_SENDER_ID</key>
	<string>991380975284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kivocsa99.bld</string>
	<key>PROJECT_ID</key>
	<string>bldd-591fe</string>
	<key>STORAGE_BUCKET</key>
	<string>bldd-591fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991380975284:ios:84243eedc23014b0e2b1e1</string>
</dict>
</plist>